body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(3, 52, 13);
    color: #fdfffc;
    text-align: center;
}
h1{
    font-size: 45px;
   
}

input{
    width: 80px;
    height: 60px;
    font-size: 40px;
    border-radius: 9px;
    margin: 7px;
    background-color: white;
    color: black;
    text-justify: auto;
    
}

.btn:hover{
    background-color:deeppink;
    cursor:pointer;
}
.line{
    border-bottom: 3px #fdfffc;
    display: block;
}